<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bienvenue</title>
    {% stylesheets 'images/logo.bmp' %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset_url }}" />
    {% endstylesheets %}
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	{% stylesheets 'template/css/animate.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'template/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'css/diffusion/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# Css calendar bandeau #}
    {% stylesheets 'css/diffusion/zabuto_calendar.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# Css Style perso #}
    {% stylesheets 'css/diffusion/stylesitediffusion.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts 'template/js/jquery.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'template/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'template/js/owl.carousel.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'template/js/jquery.stellar.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'template/js/jquery.waypoints.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'template/js/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {# Script site #}
    {% javascripts 'js/diffusion/site.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'js/diffusion/zabuto_calendar.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div id="fh5co-page">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
        <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
            <h1 id="fh5co-logo"><a href="#"></a></h1>
            <nav id="fh5co-main-menu" role="navigation">
                <ul>
                    <li>
                        <div class="barre"></div>
                        <a href="{{ path('module_diffusion_homepage')}}" class="lien">
                            <span class="icon menuimg">
                                <i aria-hidden="true" class="glyphicon glyphicon-home"></i>
                            </span>
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('module_diffusion_agenda')}}" class="lien">
                            <span class="icon menuimg">
                                <i aria-hidden="true" class="glyphicon glyphicon-list-alt"></i>
                            </span>
                            Agenda
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('module_diffusion_oeuvre')}}" class="lien">
                            <span class="icon menuimg">
                                <i aria-hidden="true" class="glyphicon glyphicon-film"></i>
                            </span>
                            Oeuvre
                        </a>
                    </li>
                    <li>
                        <a href="#" class="lien">
                            <span class="icon menuimg">
                                <i aria-hidden="true" class="glyphicon glyphicon-info-sign"></i>
                            </span>
                            Exposition
                        </a>
                    </li>
                    <li>
                        <a href="#" class="lien">
                            <span class="icon menuimg">
                                <i aria-hidden="true" class="glyphicon glyphicon-map-marker"></i>
                            </span>
                            Position Salle
                        </a>
                    </li>
                </ul>
                <div id="my-calendar" class="calendar"></div>
                <script>
                    $.ajax({
                        url: "{{ path('affiche_calendar') }}", 
                        method: "post",
                        data: {id: 0}
                    }).done(function(msg){
                        affiche_calendar(msg.data);
                    });
                    function affiche_calendar(tab)
                    {
                        var table = [{"date":"2016-07-05","badge":true,"title":"exemple0"}];
                        var table2 = tab;
                        $("#my-calendar").zabuto_calendar({
                            language: "fr",
                            //data: tab
                            data: table2
                        });
                    }
                </script>
            </nav>
        </aside>
    </div>
    <div id="fh5co-main">
        {% block body %} {% endblock %}
        {% block javascripts %} {% endblock %}
    </div>
    </body>
</html>